.cell {
    border: none;
}

/* This class applies when gridLines is true */
.grid-lines {
    border: 0.5px solid #ddd;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
} 
.gridContainer {
    padding: 2%;
    border-radius: 20px;
    box-sizing: border-box;
}