.cell {
    border: none;
}

/* This class applies when gridLines is true */
.grid-lines {
    border: 0.5px solid #ddd;
}

.grid {
    display: grid;
    padding: 5%;
    width: 600px;
    height: 600px;
    border: 1px solid #d1d5db;
    border-radius: 20px;
    background-color: #eff6ff;

} 
.gridContainer {
    border-radius: 20px;
    box-sizing: border-box;
}