.Navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    z-index: 2;
    margin: 0 10%;
    width: 90%;
    box-sizing: border-box;
}


.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    list-style: none;
    gap: 47px;
}

.menuItems a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}